<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>This is the homepage</h2>
  
  <p>Welcome back, <%= name %>.</p>

<% for (let ii = 0; ii < 4; ii++) { %>
  <h4>Sail! <%= ii %></h4>
<% }%>

  <p>This paragraph has been brought to you by the ejs template system, and the letter m and f.</p>
  <a href="/monkeyfuzz">Monkey Fuzz!</a>
  <div>
    <a href="/fdsadsafsadfsad">fdsadsafsadfsad</a>
  </div>
</body>
</html>
